
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Roboto, monospace, sans-serif;
    background-color: #fefefe;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: black;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }
    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

.main-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}

.weather-indicator {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.weather-state {
    width: 64px;
    height: 64px;
}

.weather-state-container {
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.temperature-container {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 10px;
}

.temperature {
    font-size: 60px;
    font-weight: bold;
    padding-right: 10px;
}

.temp-switch {
    display: flex;
    font-size: 20px;
    color:lightslategray;
}

.temp-switch span {
    cursor: pointer;
    height: 22px;
    display: flex;
    align-items: center;
}

.temp-switch .chosen {
    color: black;
}

.temp-switch-c {
    border-right: solid 1px lightslategray;
    padding-right: 10px;
}

.temp-switch-f {
    padding-left: 10px;
}

.triple-variable {
    padding-right: 10px;
}

.single-variable {
    display: block;
    padding: 1px;
}

.error {
    text-align: center;
}

.vertical-split {
    width: 100%;
}
